---
---

@import "pygments";
@import "config";
@import "util";
@import "fixes";
@import "basic";

code {
	background: lighten(#272822, 70);
	padding: 0 5px;
	border-radius: 5px;
	vertical-align: baseline;
	display: inline-block;
}

pre code{
	background: #272822;
	color: white;
	padding: 10px;
	padding-left: 20px;
	border: 1px solid $darker-color;
	border-left: none;
	border-right: none;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	display: block;
}

a img{
	outline: none!important;
	border: 0!important;
}

a{
	&:link{
		@include duration(0.2s);
		color: #002D82;
		text-decoration: none;
		&:hover{
			color: lighten(#002D82, 20);
			text-decoration: underline;
		}
	}

	&:visited{
		color: #4B55A6;
		text-decoration: none;
		&:hover{
			color: lighten(#002D82, 20);
			text-decoration: underline;
		}
	}
}

.move-on {
	@extend .clear-inner-float;

	&>.next-post, &>.prev-post {
		display: block;
	}

	&>.next-post {
		float: right;
		&:after {
			content: "\2192"
		}
	}

	&>.prev-post {
		float: left;
		&:before {
			content: "\2190"
		}
	}
}

blockquote{
	color: $darkest-color;
	margin-left: 2em;
	position: relative;
	font-style: italic;
	&:before{
		content: "\"";
		position: absolute;
		font-size: 4em;
		left: -0.5em;
		top: -0.4em;
		color: $darker-color;
		text-shadow: 1px 1px 10px;
	}
}

.main-wrap{
	@extend .clear-inner-float;

	.half {
		float: left;
		width: 50%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		padding: 2em;
	}

	max-width: 850px;
	margin: 0 auto;
	padding: 1em 20px 100px;
	margin-top: -50px;
	padding-bottom: 100px;
	margin-bottom: -100px;
	position: relative;

	&.large, &.double-column {
		max-width: 1100px;
	}

	&.double-column {
		.main {
			float: left;
			width: 80%;
			margin: 0;
			box-sizing: border-box;
		}

		aside {
			float: left;
			margin: 0;
		}

		&:after {
			content: "";
			display: block;
			clear: both;
		}
	}
}

.main-footer{
	clear: both;
}

aside{
	width: 20%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-right: 1.5em;
	padding-bottom: 2em;
	padding-top: 2em;

	h4{
		padding-bottom: 0;
		font-weight: bold;
		margin-bottom: 0;
	}
}

.block-link-list{
	list-style-type: none;
	padding-left: 0;
	position: relative;
	z-index: 1;
	margin-right: 0;
	padding-right: 0;
	margin-bottom: 0;

	&>li{
		&>a{
			padding: 6px;
			display: block;
			&:hover{
				background: lighten($light-color, 10);
			}
		}
	}
}

.tag-info>span{
	vertical-align: bottom;
}


.hero {
	background-image: url(/images/hero.jpg);
	background-size: cover;
	background-position: center;
	height: 20em;
	width: 100%;
	margin-bottom: 50px;

	.hero-inner {
		background-color: rgba(black, 0.3);
		height: 100%;
		text-align: center;
		box-sizing: border-box;
        display: flex;
		color: white;
		font-weight: lighter;
		text-shadow: 0 1px 2px rgba(black, 0.4);
        align-items: center;
        justify-content: center;
        flex-direction: column;

		nav {
			margin: 1em 0;
		}

		a:link, a:visited {
			color: inherit;
			text-decoration: underline;
		}

		h1 {
			color: inherit;
			font-size: 5em;
			margin: 0;
			padding: 0;

			a:link, a:visited {
				text-decoration: none;
				color: inherit;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.big-hero {
	.hero {
		height: 80vh;

		.hero-inner {
			height: 80vh;

			&:after {
				height: 80vh;
			}
		}
	}
}

.main{
	padding: 0 2em 2em 2em;
	padding-bottom: 0;
	&>h3.title{
		margin-left: -2em;
		background: $darker-color;
		padding: 0 0.2em;
		padding-left: 2.2em;
		position: relative;
		display: inline-block;
		height: 40px;
		line-height: 40px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		border: 1px solid $darkest-color;
		border-left: none;

		&:after{
			content: '';
			position: absolute;
			top: 0px;
			height: 0;
			right: -38px;
			border: 19px solid transparent;
			border-left-color: $darker-color;
		}

		&:before{
			content: '';
			position: absolute;
			top: -1px;
			height: 0;
			right: -41px;
			border: 20px solid transparent;
			border-left-color: $darkest-color;
		}
	}

	article{
		margin: 0 auto;
		font-size: 1.2em;
		padding: 1.5em;
		padding-bottom: 0;
		position: relative;
		margin-bottom: 3em;
		line-height: 1.8;

		img{
			max-width: 95%;
		}

		&>header{
			text-align: center;
			font-size: 0.90em;

			&>h2{
				border-bottom: $line-thinkness solid;
				margin-bottom: 0;
			}

			&>.date-time{
				margin-bottom: 0.75em;
				margin-left: auto;
				text-align: right;
				&>span{
					padding: 0;
					margin: 0;
					line-height: 1;
					font-size: 1em;
					&:not(:last-of-type):after {
						content: "\00b7";
						margin: 0 2px;
					}
				}
			}
		}

		&>footer{
			border-top: $line-thinkness solid $header-text-color;
			padding: 1.5em 0;
			text-align: center;
		}
	}
}

.more-projects{
	font-size: 2em;
	text-align: right;
	&>a{
		position: relative;
		display: inline;
		background: white;
		padding: 0.3em;
		box-shadow: 0 0 3px rgba(34,34,34,0.5);
		@include duration(0);
		&:before, &:after{
			content: '';
			position: absolute;
			background: white;
			z-index: -1;
			top: 2px;
			bottom: 2px;
			left: -2px;
			right: -2px;
			box-shadow: 0 0 3px rgba(34,34,34,0.5);
		}
		&:before{
			@include transform(rotate(-7deg));
		}

		&:after{
			@include transform(rotate(5deg));
		}

		&:hover{
			text-decoration: none;
			&:before{
				@include transform(translateX(3px));
			}
			&:after{
				@include transform(translateX(-3px));
			}
		}
	}
}

.projects{
	padding: 0;
	margin-bottom: -2em;
	margin-right: 0;

	-webkit-column-width: 300px;
	-moz-column-width: 300px;
	column-width: 300px;

	&:after{
		content: "";
		display: block;
		clear: both;
	}

	&>li{
		display: block;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		position: relative;
		padding: 10px;
	}

	.background {
		background-size: cover;
		position: absolute;
		top: 10px;
		bottom: 10px;
		left: 10px;
		right: 10px;
	}

	.inner{
		position: relative;
		max-height: 480px;
		overflow-y: auto;

		background: rgba(darken($darker-color, 20), 0.9);
		border: $line-thinkness solid $line-color;

		@include duration(0.3s);

		&>a{
			color: white;
			text-shadow: 0 1px 1px black;
			&:hover{
				color: white;
				text-decoration: none;
			}

			&>.description{
				@include duration(0.3s);
				padding: 10px 0.6em;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				font-size: 0.85em;

				&>img{
					max-width: 90%;
					display: block;
				}
			}
			&>header{
				padding: 10px;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				height: 84px;
				line-height: 64px;
				color: white;
				&>img{
					width: 64px;
					height: 64px;
					margin-left: 10px;
					margin-right: -10px;
					display: inline-block;
					vertical-align: bottom;
					border-radius: 5px;
				}

				&>h4{
					padding: 0;
					margin: 0;
					font-size: 1.2em;
					padding-bottom: 0.7em;
					padding-top: 0.4em;
					display: inline-block;
					vertical-align: bottom;
					margin-left: 10px;
					color: white;
				}
			}

			&>header.no-image{
				&>h4{
					font-size: 40px;
					padding: 0;
					margin: 0;
					line-height: 64px;
				}
			}
		}
		&:hover{
			z-index: 1;
			background: rgba($darker-color, 0.7);
			&>a>header>h4{
				text-decoration: underline;
			}

			.description {
				color: rgba(white, 0);
				text-shadow: none;
			}
		}

	}
}
.projects.full-list>li{
	display: block;
	margin: 0 auto;

	img{
		max-width: 60%!important;
	}

	&:hover{
		@include transform(none);
	}
}

.posts{
	font-family: $article-font;

	&>li{
		margin-bottom: 1.5em;
		position: relative;
		vertical-align: top;

		&>a{
			color: $dark-text-color;
			letter-spacing: normal;
			word-spacing: normal;
			padding: 10px;

			&:hover{
				text-decoration: none;
				color: $dark-text-color;
				.block-link-target{
					color: $darkest-color;
					text-decoration: underline;
				}
			}

			&>h2{
				display: inline-block;
				margin-bottom: 0;
				padding-left: 0;
				position: relative;
				text-shadow: 0 1px 0 rgba(white, 0.5);
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}
	}
	.block-link{
		padding-left: 10px;
	}
}

.bar-widget{
	font-size: 0.92em;
}

.icons-holder{
	text-align: center;
	@mixin icon{
		display: inline-block;
		font-size: 1.5em;
		height: 1.5em;
		width: 1.5em;
		line-height: 1.5em;
		color: white;
		border-radius: 1000px;
		margin: 0.2em;
		vertical-align: middle;
		position: relative;
		text-shadow: 0 -1px 1px #222;
		background: white;
		&:hover{
			top: -2px;
			box-shadow: 0 2px 2px #444;
		}

		&:active{
			top: 0;
			box-shadow: none;
		}
	}

	.gplus-icon{
		@include icon;
		background: red;
		line-height: 1em;
		font-family: "Palatino Linotype", Georgia, "Book Antiqua", serif;
	}

	.twitter-icon{
		@include icon;
		background: #00aced;
	}

	.link-icon{
		@include icon;
	}

}

@media only screen and (max-width: 850px) {
  	.main-title{
  		margin-right: 0;
  	}

  	.hex-link {
  		margin: 0;
  	}

  	.profile-image {
  		margin: 0 -50px;
  	}
  	.main-wrap .half {
  		width: 100%;
  	}

  	.main{
  		margin-right: 0;
  		padding: 0;
  		padding-top: 1em;
  		article{
  			padding: 0.3em;
  		}
  	}

  	.main-wrap.double-column {
  		.main {
  			width: 100%;
  		}
  	}

  	aside{
		padding: 0;
		text-align: center;
		width: 100%;
	}

	.more-projects{
		text-align: center;
	}

  	.projects{
		width: 100%;
		margin-bottom: 0;
		.inner{
			height: auto;
		}

		&>li{
			width: 100%;
			height: auto;
			&:hover{
				@include transform(none);
			};
		}
	}
}

.update-box{
	padding: 10px;
	border-radius: 10px;
	background: $darker-color;
	border: 1px solid $darkest-color;
}
