
$light-color:#eeeeee;
$darker-color: darken($light-color, 20);
$darkest-color: #777;
$dark-text-color: #555;
$header-text-color: #333;
$line-color: darken($light-color, 10);
$light-text-color: #fff;
$profile-size: 80px;
$line-thinkness: 1px;
$hero-line-thinkness: 2px;
$article-font: Georgia, serif;
