<head>
	<meta charset=utf-8 />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="https://plus.google.com/106942653636327756397/" rel="publisher" />
	<link href='http://fonts.googleapis.com/css?family=Federo' rel='stylesheet' type='text/css' />
	<link href='/style.css' rel='stylesheet' type='text/css' />
	<link href='/pygments.css' rel='stylesheet' type='text/css' />
	
	<script src='/js/prefixfree.min.js' type='text/javascript'></script>
	<script src='/js/script.js' type='text/javascript'></script>
	
	
	<title>
		{% if page.title %}	
			{{ page.title }}|
		{% endif %}
		Yujian's Programming Archive
	</title>
</head>
