<ul class='projects block-link-list'>
{% for item in site.projects %}
	{% if page.folder == nil or page.folder == item[1].folder %}
		{% if page.projectLimit == nil or forloop.index0 < page.projectLimit %}
	<li>
		<a class='block-link' href="/tags/{{ item[0] | slugize }}">
			<header>
				<h4>
					{% if item[1].icon %}
					<img class='project-icon' src="{{ item[1].icon }}" />
					{% endif %}
					<span>{{ item[0] }}</span>
				</h4>
			</header>
			<p>{{ item[1].description }}</p>
			{% if item[1].image %}	
			<img class='center' src="/images/{{ item[1].image }}" />
			{% endif %}
			<span class='block-link-target'>Read more...&rarr;</span>
		</a>
		{% if item[1].url %}
		<a class='project-inner-right' href="{{ item[1].url }}">Try it out</a>
		{% endif %}
	</li>
		{% endif %}
	{% endif %}
{% endfor %}
</ul>
{% if page.projectLimit and site.projects | size > page.projectLimit %}
<a href='/projects'>More projects....</a>
{% endif %} 
