{% for item in site.projects %}
	{% if page.folder == nil or page.folder == item[1].folder %}
		{% if page.projectLimit == nil or forloop.index0 < page.projectLimit %}
	<li>
		<div class="inner">
		{% capture tag_name %}{{ item[0] | downcase }}{% endcapture %}
		{% capture lenposts %}{{ site.tags[tag_name] | size }}{% endcapture %}
		{% if lenposts == '1' %}
			{% assign href = site.tags[tag_name][0].url %}
		{% else %}
			{% capture href %}/tags/{{ item[0] | slugize }}{% endcapture %}
		{% endif %}
		<a href="{{ href }}">
			<header>
				<h4>
					{{ item[0] }}
				</h4>
			</header>
			<div class='description'>
			<p>{{ item[1].description }}</p>
			{% if item[1].image %}	
			<img class='center' src="/images/{{ item[1].image }}" />
			{% endif %}
			</div>
		</a>
		</div>
	</li>
		{% endif %}
	{% endif %}
{% endfor %}
