<style>
	.search-box{
		border-color: #7F959C;
		padding: 0.5em 0;
	}
	
	#search-input{
		margin: 0;
		border-radius: 1em;
		border: none;
		-webkit-appearance: none;
		padding: 3px 1em;
		box-shadow: inset 0 2px 2px #7F959C, 0 0 1px #7F959C;
		display: block;
		width: 100%;
	}
	
	
	#search-input:active
	{
		box-shadow: inset 0 2px 2px #7F959C, 0 0 1px #7F959C, 0 0 6px white;
		outline: none;
	}

	#search-input:focus
	{
		-moz-outline-style: none;
		outline: 0;
	}
</style>
<div class='search-box'>
	<input type='search' id='search-input' placeholder="Press enter to search..." />
	<script type='text/javascript'>
		document.querySelector("#search-input").onkeyup=function(event){
			if(event.keyCode == 13&& this.value){
				window.open('http://www.google.com/search?q=site:yjyao.com '+this.value);
			}
		};
	</script>
</div>
