<style>
	.search-box{
		border-color: #7F959C;
	}
	
	#search-input{
		margin: 0 auto;
		border-radius: 1em;
		border: none;
		appearance: none;
		padding: 3px 1em;
		box-shadow: inset 0 2px 2px #7F959C, 0 0 1px #7F959C;
		display: inline-block;
		width: 90%;
	}
	
	
	#search-input:active
	{
		outline: none;
	}

	#search-input:focus
	{
		-moz-outline-style: none;
		outline: 0;
	}
</style>
<div class='search-box'>
	<input type='text' id='search-input' placeholder="Press enter to search..." />
	<script type='text/javascript'>
		$("#search-input").keyup(function(event){
			console.log(event.keyCode);
			if(event.keyCode == 13&& $(this).val()){
				window.open('http://www.google.com/search?q=site:yjyao.com '+$(this).val());
			}
		});
	</script>
</div>
