<aside>
	<div class='widget'>
		<header>
			<h3>Recent Posts</h3>
		</header>
		<div class='widget-content'>
			<ul>
				{% for post in site.posts limit: 5 %}
				<li><a href='{{ post.url }}'>{{ post.title }}</a></li>
				{% endfor %}
			</ul>
			<a href='/all_posts.html'>More...</a>
		</div>
	</div>
	<div class='widget'>
		<header>
			<h3>Categories</h3>
		</header>
		<div class='widget-content'>
			<ul>
			{% category_list %}
			</ul>
		</div>
	</div>
	<div class='widget'>
		<header>
			<h3>Tag cloud</h3>
		</header>
		<div class='widget-content'>
			{% tag_cloud %}
		</div>
	</div>
	<div class='widget'>
		<header>
			<h3>Archive</h3>
		</header>
		<div class='widget-content'>
			<ul>
				{% monthly_archives %}
			</ul>
		</div>
	</div>
	<div class='widget'>
		<header>
			<h3>Search this site</h3>
		</header>
		<div class='widget-content'>
			{% include searchbox.html %}
		</div>
	</div>
</aside>	
