<aside>
	<div class='bar-widget'>
		<header>
			<h4>Recent Posts</h4>
		</header>
		<div class='widget-content'>
			<ul class='block-link-list'>
				{% for post in site.posts limit: 5 %}
				<li><a href='{{ post.url }}'>{{ post.title }}</a></li>
				{% endfor %}
			</ul>
			<a href='/all_posts.html'>More...</a>
		</div>
	</div>
	{% if page.simpleSidebar == nil %}
	<div class='bar-widget'>
		<header>
			<h4>Categories</h4>
		</header>
		<div class='widget-content'>
			<ul class='block-link-list'>
			{% category_list %}
			</ul>
		</div>
	</div>
	{% endif %}
	<div class='bar-widget'>
		<header>
			<h4>Tag cloud</h4>
		</header>
		<div class='widget-content'>
			{% tag_cloud %}
		</div>
	</div>
	{% if page.simpleSidebar == nil %}
	<div class='bar-widget'>
		<header>
			<h4>Archive</h4>
		</header>
		<div class='widget-content'>
			<ul class='block-link-list'>
				{% monthly_archives %}
			</ul>
		</div>
	</div>
	{% endif %}
	<div class='bar-widget'>
		<header>
			<h4>Find me on...</h4>
		</header>
		<div class='widget-content icons-holder'>
			{% include about-min.html %}
		</div>
	</div>
</aside>	
