<!DOCTYPE html>
<html>
{% include header.html %}
<body ontouchstart="">
	<div class='main'>
		<div class='content {% if page.whole %}{{ "whole" }}{% endif %}'>
		{{ content }}
		</div>
		{% include sidebar.html %}
	</div>
	<footer>
		<p>&copy; Yao Yujian 2012</p>
	</footer>
	<script src="//static.getclicky.com/js" type="text/javascript"></script>
	<script type="text/javascript">try{ clicky.init(66529541); }catch(e){}</script>
	<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66529541ns.gif" /></p></noscript>
</body>
</html>
