<!DOCTYPE html>
<html>
{% include header.html %}
<body ontouchstart="" class="{% if page.big_hero %} big-hero {% endif %}">
	<div class="hero">
	<div class="hero-inner">
    	    <h1><a href="/">Yujian Yao</a></h1>
    	    <p>Software Engineer</p>
    	    <nav class='hero-nav'>
    	        <a href='/projects'>Projects</a> |
    	        <a href='/about'>About Me</a>
    	    </nav>
    	    <div class='icons-holder'>
                {% include about-min.html %}
    	    </div>
	  </div>
	</div>
	{{ content }}
	<footer class="main-footer">
		<p>&copy; Yujian Yao 2012-{{ site.time | date: '%Y' }}</p>
	</footer>
	<script>
		if (navigator.userAgent.match(/(iPad|iPhone|iPod touch);.*CPU.*OS 7_\d/i)) {
			document.body.classList.remove('big-hero');
        }
	</script>
</body>
</html>
