---
layout: default
---
<header class='main-title'>
	<a href='/'><h1>Yao Yujian</h1></a>
	<nav>
		<a href='/projects'>Projects</a>
		<a href='/about'>About Me</a>
	</nav>
</header>
<div class='main'>
	<article>
		<header><h2>{{ page.title }}</h2>
			<span class='date-time'>
				{{ page.date | date: "<span class='day'>%d</span><span class='month'>%B</span><span class='year'>%Y</span>" }}
			</span>
		</header>
		{% if page.hosted-site %}
		 <em>This project is hosted on <a href='{{ page.hosted-url }}'>{{ page.hosted-site }}</a>.</em>
		{% endif %}
		{{ content }}
		<footer>
			<div class='tag-info'>
				<span>
				This post is tagged in
				</span>
				<span>
				{% for tag in page.tags %}
						<a class='tag' href='/tags/{{ tag | slugize }}'>{{ tag }}</a>
				{% endfor %}
				</span>
			</div>
		</footer>
	</article>
<footer>
	<div class='widget at-bottom'>
		<header>
			<h3>Related Posts:</h3>
		</header>
		<div class='widget-content'>
			<ul class='block-link-list'>
				{% for post in site.related_posts limit: 3 %}
				<li><a href='{{ post.url }}'>{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% include comments.html %}
</footer>
</div>